---
import Announce from "../components/Announce.astro";
import BlogRoot from "../components/Blog/BlogRoot.astro";
import DeadlineRoot from "../components/Deadlines/DeadlineRoot.astro";
import FeaturesRoot from "../components/Features/FeaturesRoot.astro";
import StageWorkRoot from "../components/StagesWorks/StageWorkRoot.astro";
import Layout from "../layout.astro";
import SpriteFeature from "../SpriteFeature.astro";
import YandexWidget from "../components/YandexWidget.astro";
import SEOBlock from "../components/SEOBlock.astro";
import GridBannersType1 from "../components/GridBanners/Type1.astro";
import Hero from "../components/Hero.astro";
import Achievements from "../components/Achievements/Root.astro";
import qs from "qs";
import FAQSection from "../components/FAQ/FAQSection.astro";
import SubscribeBlock from "../components/SubscribeBlock.astro";

const paramsPage = {
    populate: {
        Slider: {
            populate: "*"
        },
        FAQBlock: {
            populate: "*"
        },
        SEOBlock: {
            populate: "*"
        }
	},
};

const queryStringPage = qs.stringify(paramsPage, { encode: true });
const landingPageData = await fetch(`${import.meta.env.HOST_API}/main-page?${queryStringPage}`).then(res => res.json());
const pageData = landingPageData.data;

let dataOne = {
    title: "",
    data: [
    {
        "title": "Разработка конструкции",
        "description": "Текстовое описание",
        "backgroundDefault": "/img/services/Announce-Box-11.jpg",
        "columns": "1"
    },
    {
        "title": "Изготовление предтиражного образца",
        "description": "Текстовое описание",
        "backgroundDefault": "/img/services/Announce-Box-22.jpg",
        "columns": "2"
    },
    {
        "title": "Отделка",
        "description": "Текстовое описание",
        "backgroundDefault": "/img/services/Announce-Box-33.jpg",
        "columns": "1"
    },
    {
        "title": "Копакинг",
        "description": "Текстовое описание",
        "backgroundDefault": "/img/services/Announce-Box-44.jpg",
        "columns": "2"
    },
    {
        "title": "Доставка",
        "description": "Текстовое описание",
        "backgroundDefault": "/img/services/Announce-Box-55.jpg",
        "columns": "1"
    },
    {
        "title": "Все продукты производства",
        "description": "",
        "backgroundDefault": "",
        "columns": "1"
    }, 
]};

let dataServices = {
    title: "Услуги",
    data: [
    {
        "title": "Бумажные пакеты",
        "description": "Текстовое описание",
        "backgroundDefault": "/img/services/Announce-Box.jpg",
        "columns": "1"
    },
    {
        "title": "3D-отделка",
        "description": "Текстовое описание",
        "backgroundDefault": "/img/services/Announce-Box-1.jpg",
        "columns": "2"
    },
    {
        "title": "Ложементы",
        "description": "Текстовое описание",
        "backgroundDefault": "/img/services/Announce-Box-2.jpg",
        "columns": "1"
    },
    {
        "title": "Подарочная упаковка",
        "description": "Текстовое описание",
        "backgroundDefault": "/img/services/Announce-Box-3.jpg",
        "columns": "2"
    },
    {
        "title": "Картонные коробки",
        "description": "Текстовое описание",
        "backgroundDefault": "/img/services/Announce-Box-4.jpg",
        "columns": "1"
    },
    {
        "title": "Все продукты производства",
        "description": "",
        "backgroundDefault": "",
        "columns": "1"
    }, 
]};
---
<Layout title="Главная">
        <div class="content-grid">
            <Hero {...pageData} />
            <!-- <code>
                {JSON.stringify(dataOne[0])}
            </code> -->
            <GridBannersType1 data={dataServices.data} />
            <Announce maxWidthBlock="42rem" widthMark="14px" heightMark="90px" colorMark="var(--color-orange)" marginBlock="0 0 0 clamp(0rem, -13.2857rem + 21.4286vw, 6rem)" />
            <GridBannersType1 data={dataOne.data} title={dataServices.title} />
            <FeaturesRoot />
            <GridBannersType1
                title="Услуги"
            />
            <DeadlineRoot />
            <StageWorkRoot />
            <div class="fab-widgets" style="">
                <YandexWidget />
                <BlogRoot />
            </div>
            <Achievements />
            <FAQSection {...pageData} />
            <SubscribeBlock status="default" />
            <SEOBlock {...pageData.SEOBlock[0]}  />

        </div>
		<SpriteFeature />
</Layout>