---
import Announce from "../components/Announce.astro";
import BlogRoot from "../components/Blog/BlogRoot.astro";
import DeadlineRoot from "../components/Deadlines/DeadlineRoot.astro";
import FeaturesRoot from "../components/Features/FeaturesRoot.astro";
import StageWorkRoot from "../components/StagesWorks/StageWorkRoot.astro";
import Layout from "../layout.astro";
import SpriteFeature from "../SpriteFeature.astro";
import YandexWidget from "../components/YandexWidget.astro";
import SEOBlock from "../components/SEOBlock.astro";
import GridBannersType1 from "../components/GridBanners/Type1.astro";
import Hero from "../components/Hero.astro";
import Achievements from "../components/Achievements/Root.astro";
import qs from "qs";
import FAQSection from "../components/FAQ/FAQSection.astro";
import SubscribeBlock from "../components/SubscribeBlock.astro";
import Sandbox from "../sandbox.astro";
import Victory from "../components/Victory.astro";
import replaceSpacesAfterPrepositions from "../scripts/words";
import CustomGrid from "../components/CustomGrid.astro";

const paramsPage = {
    populate: {
        Slider: {
            populate: "*"
        },
        FAQBlock: {
            populate: "*"
        },
        SEOBlock: {
            populate: "*"
        }
	},
};

const queryStringPage = qs.stringify(paramsPage, { encode: true });
const landingPageData = await fetch(`${import.meta.env.HOST_API}/main-page?${queryStringPage}`).then(res => res.json());
const pageData = landingPageData.data;

let dataOne = {
    title: "",
    data: [
    {
        "title": "Разработка конструкции",
        "description": "Текстовое описание",
        "backgroundDefault": "https://static0.wow2print.com/storage/119/content/image/8013620146850fd3145a725.24594240.webp",
        "columns": "1",
        "href": ""
    },
    {
        "title": "Изготовление предтиражного образца",
        "description": "Текстовое описание",
        "backgroundDefault": "https://static0.wow2print.com/storage/119/content/image/20383183896850fd318394c9.88894130.webp",
        "columns": "2",
        "href": "/on-designing/drawing-sample"
    },
    {
        "title": "Отделка",
        "description": "Текстовое описание",
        "backgroundDefault": "https://static0.wow2print.com/storage/119/content/image/18076141296850fd31c53f42.03389689.webp",
        "columns": "1",
        "href": "/materials/finish"
    },
    {
        "title": "Копакинг",
        "description": "Текстовое описание",
        "backgroundDefault": "https://static0.wow2print.com/storage/119/content/image/17615715576850fd334d7ee8.10038596.webp",
        "columns": "2",
        "href": "/hand-work/copying-and-delivery"
    },
    {
        "title": "Доставка",
        "description": "Текстовое описание",
        "backgroundDefault": "https://static0.wow2print.com/storage/119/content/image/11598333126850fd3380ef78.50828980.webp",
        "columns": "1",
        "href": "/term_of_use/delivery"
    },
    {
        "title": "Все продукты производства",
        "description": "",
        "backgroundDefault": "",
        "columns": "1",
        "href": "/projects-archive"
    }, 
]};

let dataServices = {
    title: "Услуги",
    data: [
    {
        "title": "Бумажные пакеты",
        "description": "Текстовое описание",
        "backgroundDefault": "https://static0.wow2print.com/storage/119/content/image/340424796850fd3042ace4.19606123.webp",
        "columns": "1",
        "href": "/projects_category/packages"
    },
    {
        "title": "3D-отделка",
        "description": "Текстовое описание",
        "backgroundDefault": "https://static0.wow2print.com/storage/119/content/image/12308639776850fd307a9657.76645884.webp",
        "columns": "2",
        "href": "/packaging-finish"
    },
    {
        "title": "Ложементы",
        "description": "Текстовое описание",
        "backgroundDefault": "https://static0.wow2print.com/storage/119/content/image/7402154076850fd30a50191.09263313.webp",
        "columns": "1",
        "href": "/projects_category/type-of-lodgement"
    },
    {
        "title": "Подарочная упаковка",
        "description": "Текстовое описание",
        "backgroundDefault": "https://static0.wow2print.com/storage/119/content/image/2025485456850fd30dafbb5.05807369.webp",
        "columns": "2",
        "href": "/projects_category/box-cover-bottom-laminated"
    },
    {
        "title": "Картонные коробки",
        "description": "Текстовое описание",
        "backgroundDefault": "https://static0.wow2print.com/storage/119/content/image/12665594926850fd311a9e51.23615675.webp",
        "columns": "1",
        "href": "/projects_category/cardboard-boxes"
    },
    {
        "title": "Все продукты производства",
        "description": "",
        "backgroundDefault": "",
        "columns": "1",
        "href": "/portfolio"
    }, 
]};
---
<Layout title="Главная">
        <div class="content-grid">
            <Hero {...pageData} />
            <Announce
                maxWidthBlock={pageData.announceMaxWidth}
                colorMark="var(--color-orange)"
                marginBlock="0 0 0 clamp(0rem, -1.4085rem + 6.0094vw, 4rem)"
                fontSize={"1.5rem"}
                text={`<h2>FINEARTBOX — производство упаковки и&nbsp;полиграфические услуги в Москве<h2>`}
                maxWidthBlock={"38.25rem"}
            />
            <GridBannersType1 data={dataServices.data} />
            <FeaturesRoot />
            <GridBannersType1 data={dataOne.data} title={dataServices.title} />
            <DeadlineRoot />
            <StageWorkRoot />
            <Victory />
            <CustomGrid columns="2">
                <YandexWidget />
                <BlogRoot />
            </CustomGrid>

            <Achievements />
            <!-- <FAQSection {...pageData} />-->
            <!-- <SubscribeBlock status="default" /> -->
            <SEOBlock {...pageData.SEOBlock[0]}  />

        </div>
		<SpriteFeature />
</Layout>