---
import Breadcrumbs from "../components/Breadcrumbs.astro";
import Icon from "../components/Icon.astro";
import SEOBlock from "../components/SEOBlock.astro";
import SubscribeBlock from "../components/SubscribeBlock.astro";
import Layout from "../layout.astro";
import qs from "qs";
const paramsPage = {
    populate: {
        FilterSection: {
            populate: "*"
        },
        Grid: {
            populate: "*"
        },
        SEOBlock: {
          populate: "*"
        }
	},
};

const queryStringPage = qs.stringify(paramsPage, { encode: true });
const landingPageData = await fetch(`${import.meta.env.HOST_API}/portfolio?${queryStringPage}`).then(res => res.json());
const pageData = landingPageData.data;

const dataFilters = [
    {
        purpose: "",
        types: "",
        forms: ""
    }
]
---

<Layout title="Портфолио">
    <template>
        <div style={`--desk-col: ; --desk-row: 1; --desk-aspect-ratio: 2/1; --background: url(/img/portfolio/Announce-Box-3.jpg);`}></div>
    </template>
    <div class="content-grid">
        <Breadcrumbs />
        <div class="fab-select-section" data-parameters-filter={JSON.stringify(dataFilters)}>
            {
                pageData.FilterSection.map( select => 
                    <div class="fab-custom-select">
                        <div class="fab-custom-select__dropdown" data-category={select.category}>
                          <div class="fab-custom-select__dropdown-title"><span>{select.title}</span><Icon id="arrow-dropdown" width="16" height="16" /></div>
                          <div class="fab-custom-select__dropdown-inner">
                            {select.options.map( option => 
                              <a href={option?.slug}>{option.label}</a>
                            )}
                          </div>
                        </div>
                        
                    </div>
                    
                )
            }
        </div>
        <div class="portfolio-grid">
            <div data-purpose="for-the-banking-and-premium-cards" style={`--mob-col: 1; --mob-col: 1; --desk-col: 6; --desk-row: 2; --mob-aspect-ratio: 1/1; --background: url(/img/portfolio/Announce-Box.jpg);`}></div>
            <div data-purpose="for-the-banking-and-premium-cards" style={`--desk-col: 3; --desk-row: 1; --desk-aspect-ratio: 1/1; --background: url(/img/portfolio/Announce-Box-1.jpg);`}></div>
            <div data-purpose="for-the-banking-and-premium-cards" style={`--desk-col: 3; --desk-row: 1; --desk-aspect-ratio: 1/1; --mob-aspect-ratio: 1/1; --background: url(/img/portfolio/Announce-Box-2.jpg);`}></div>
            <div style={`--desk-col: 6; --desk-row: 1; --desk-aspect-ratio: 2/1; --background: url(/img/portfolio/Announce-Box-3.jpg);`}></div>
            <div style={`--desk-col: 3; --desk-row: 1; --desk-aspect-ratio: ; --background: url(/img/portfolio/Announce-Box-4.jpg);`}></div>
            <div style={`--desk-col: 6; --desk-row: 1; --desk-aspect-ratio: 2/1; --background: url(/img/portfolio/Announce-Box-5.jpg);`}></div>
            <div style={`--desk-col: 3; --desk-row: 1; --desk-aspect-ratio: ; --background: url(/img/portfolio/Announce-Box-6.jpg);`}></div>
            <div style={`--desk-col: 3; --desk-row: 1; --desk-aspect-ratio: 1/1; --background: url(/img/portfolio/Announce-Box-7.jpg);`}></div>
            <div style={`--desk-col: 3; --desk-row: 1; --desk-aspect-ratio: 1/1; --background: url(/img/portfolio/Announce-Box-8.jpg);`}></div>
            <div style={`--desk-col: 3; --desk-row: 1; --desk-aspect-ratio: 1/1; --background: url(/img/portfolio/Announce-Box-9.jpg);`}></div>
            <div style={`--desk-col: 3; --desk-row: 1; --desk-aspect-ratio: 1/1; --background: url(/img/portfolio/Announce-Box-10.jpg);`}></div>
            <div style={`--desk-col: 4; --desk-row: 1; --desk-aspect-ratio: 1/1; --background: url(/img/portfolio/Announce-Box-11.jpg);`}></div>
            <div style={`--desk-col: 4; --desk-row: 1; --desk-aspect-ratio: 1/1; --background: url(/img/portfolio/Announce-Box-12.jpg);`}></div>
            <div class="portfolio-box-text" style={`--desk-col: 4; --desk-row: 1; --desk-aspect-ratio: 1/1; --background: var(--color-orange); clip-path: polygon(100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0 0);`}>
                <h3>Попробуем бесплатно?</h3>
                <p>Разработаем конструкцию и изготовим пилотный образец за наш счёт</p>
            </div>
            <div style={`--desk-col: 3; --desk-row: 2; --desk-aspect-ratio: ; --background: url(/img/portfolio/Announce-Box-13.jpg);`}></div>
            <div style={`--desk-col: 3; --desk-row: 1; --desk-aspect-ratio: 1/1; --background: url(/img/portfolio/Announce-Box-14.jpg);`}></div>
            <div style={`--desk-col: 3; --desk-row: 1; --desk-aspect-ratio: 1/1; --background: url(/img/portfolio/Announce-Box-15.jpg);`}></div>
            <div style={`--desk-col: 3; --desk-row: 1; --desk-aspect-ratio: 1/1; --background: url(/img/portfolio/Announce-Box-16.jpg);`}></div>
            <div style={`--desk-col: 3; --desk-row: 1; --desk-aspect-ratio: ; --background: url(/img/portfolio/Announce-Box-17.jpg);`}></div>
            <div style={`--desk-col: 6; --desk-row: 1; --desk-aspect-ratio: 2/1; --background: url(/img/portfolio/Announce-Box-18.jpg);`}></div>
            <div style={`--desk-col: 8; --desk-row: 1; --desk-aspect-ratio: ; --background: url(/img/portfolio/Announce-Box-19.jpg);`}></div>
            <div style={`--desk-col: 4; --desk-row: 1; --desk-aspect-ratio: 1/1; --background: url(/img/portfolio/Announce-Box-20.jpg);`}></div>
            <div class="portfolio-box-text" style={`--desk-col: 3; --desk-row: 1; --desk-aspect-ratio: 1/1; --background: var(--color-orange); clip-path: polygon(100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0 0);`}>
                <h3>Как это сделано?</h3>
            </div>
            <div style={`--desk-col: 3; --desk-row: 1; --desk-aspect-ratio: ; --background: url(/img/portfolio/Announce-Box-21.jpg);`}></div>
            <div style={`--desk-col: 3; --desk-row: 1; --desk-aspect-ratio: ; --background: url(/img/portfolio/Announce-Box-22.jpg);`}></div>
            <div style={`--desk-col: 3; --desk-row: 1; --desk-aspect-ratio: ; --background: url(/img/portfolio/Announce-Box-23.jpg);`}></div>

            <div style={`--desk-col: 4; --desk-row: 2; --desk-aspect-ratio: ; --background: url(/img/portfolio/Announce-Box-24.jpg);`}></div>
            <div style={`--desk-col: 8; --desk-row: 1; --desk-aspect-ratio: 2/1; --background: url(/img/portfolio/Announce-Box-25.jpg);`}></div>
            <div style={`--desk-col: 4; --desk-row: 1; --desk-aspect-ratio: 1/1; --background: url(/img/portfolio/Announce-Box-26.jpg);`}></div>
            <div style={`--desk-col: 4; --desk-row: 1; --desk-aspect-ratio: 1/1; --background: url(/img/portfolio/Announce-Box-27.jpg);`}></div>

            <div style={`--desk-col: 3; --desk-row: 1; --desk-aspect-ratio: ; --background: url(/img/portfolio/Announce-Box-28.jpg);`}></div>
            <div style={`--desk-col: 3; --desk-row: 1; --desk-aspect-ratio: ; --background: url(/img/portfolio/Announce-Box-29.jpg);`}></div>
            <div style={`--desk-col: 6; --desk-row: 1; --desk-aspect-ratio: 2/1; --background: url(/img/portfolio/Announce-Box-30.jpg);`}></div>

            <div style={`--desk-col: 4; --desk-row: 1; --desk-aspect-ratio: 1/1; --background: url(/img/portfolio/Announce-Box-31.jpg);`}></div>
            <div style={`--desk-col: 8; --desk-row: 2; --desk-aspect-ratio: ; --background: url(/img/portfolio/Announce-Box-32.jpg);`}></div>
            <div style={`--desk-col: 4; --desk-row: 1; --desk-aspect-ratio: 1/1; --background: url(/img/portfolio/Announce-Box-33.jpg);`}></div>

            <div style={`--desk-col: 3; --desk-row: 1; --desk-aspect-ratio: ; --background: url(/img/portfolio/Announce-Box-34.jpg);`}></div>
            <div style={`--desk-col: 3; --desk-row: 1; --desk-aspect-ratio: 1/1; --background: url(/img/portfolio/Announce-Box-35.jpg);`}></div>
            <div style={`--desk-col: 3; --desk-row: 1; --desk-aspect-ratio: 1/1; --background: url(/img/portfolio/Announce-Box-36.jpg);`}></div>
            <div style={`--desk-col: 3; --desk-row: 1; --desk-aspect-ratio: 1/1; --background: url(/img/portfolio/Announce-Box-37.jpg);`}></div>

            <div style={`--desk-col: 6; --desk-row: 1; --desk-aspect-ratio: 2/1; --background: url(/img/portfolio/Announce-Box-38.jpg);`}></div>
            <div style={`--desk-col: 3; --desk-row: 1; --desk-aspect-ratio: 1/1; --background: url(/img/portfolio/Announce-Box-39.jpg);`}></div>
            <div class="portfolio-box-text" style={`--desk-col: 3; --desk-row: 1; --desk-aspect-ratio: 1/1; --background: var(--color-orange); clip-path: polygon(100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0 0);`}>
                <h3>А мы успеем до Нового Года?</h3>
            </div>

            <div style={`--desk-col: 4; --desk-row: 1; --desk-aspect-ratio: ; --background: url(/img/portfolio/Announce-Box-40.jpg);`}></div>
            <div style={`--desk-col: 8; --desk-row: 1; --desk-aspect-ratio: 2/1; --background: url(/img/portfolio/Announce-Box-41.jpg);`}></div>
        </div>
        <SubscribeBlock status="default" />
        <SEOBlock {...pageData} />
    </div>


</Layout>

<style lang="scss" is:global>
    .fab-select-section {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: var(--global-gap);
        @media (min-width: 768px) {
            flex-direction: row;
        }
    }
    .fab-custom-select {
      flex: 1;
    }
    .fab-custom-select__dropdown-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: .7em;
    }
    .fab-custom-select__dropdown {
      position: relative;
      display: flex;
      flex-direction: column;
      background-color: var(--color-gray-1);
      border-bottom: 1px solid var(--color-gray-4);
      &:hover .fab-custom-select__dropdown-inner {
        display: flex;
      }
    }
    .fab-custom-select__dropdown-inner {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      display: none;
      max-height: 20em;
      overflow: auto;
      z-index: 1;
      background-color: var(--color-white);
      & > a {
        padding: .35em .7em;
        background-color: var(--color-gray-1);
        color: var(--color-gray-5);
        text-decoration: none;
        &:not(:last-child) {
          border-bottom: 1px solid var(--color-gray-2);
        }
      }
    }
    .portfolio-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--global-gap);
        & > div {
            aspect-ratio: var(--mob-aspect-ratio);
            background: var(--background);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            grid-area: span var(--mob-row) / span var(--mob-col);
            @media (min-width: 768px) {
              grid-area: span var(--desk-row) / span var(--desk-col);
              aspect-ratio: var(--desk-aspect-ratio);
            }
        }
        @media (min-width: 768px) {
          grid-template-columns: repeat(12, 1fr);
        }
    }
    .portfolio-box-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: clamp(0.5rem, -0.3803rem + 3.7559vw, 3rem);
        color: var(--color-white);
        row-gap: .75rem;
        & h3 {
            font-size: 1.5rem;
        }
    }
</style>


<!-- <script is:inline>
  document.querySelectorAll(".fab-custom-select__dropdown").forEach(el => {
    el.addEventListener("click", () => {
      el.querySelector(".fab-custom-select__dropdown-inner").classList.toggle("show");
    })
  })
</script> -->
