---
import Mark from "./Mark.astro";
const {maxWidthBlock, widthMark, heightMark, colorMark, marginBlock, text} = Astro.props;
---

<div class="fab-announce" style={`--max-width: ${maxWidthBlock}; --margin: ${marginBlock}`}>
    <Mark width={widthMark} height={heightMark} color={colorMark} />
    <h2 set:html={text}></h2>
</div>

<style lang="scss">
    .fab-announce {
        display: flex;
        align-items: center;
        gap: var(--global-gap);
        max-width: var(--max-width);
        margin: var(--margin);
        font-family: var(--font-family);

        @media (min-width: 992px) {
            // grid-area: auto / span 6;
        }
    }
</style>