---
import Icon from "./Icon.astro";
const {titlePage, slug, filterConstructions, packageTypes, previewTab} = Astro.props;
import replaceSpacesAfterPrepositions from "../scripts/words";
---
<!-- <code>
    {JSON.stringify(packageTypes)}
</code> -->
{
    <section class="constructions-switch">
        <h2>{titlePage}</h2>
        <div class="constructions-switch-wrap fab-scrollbar">
            {
                packageTypes?.map( (item, num) =>
                    <>
                        <label for={`construction-${num+1}`}>
                            <input data-tag={item?.tag} type="radio" id={`construction-${num+1}`} name={`construction`} value={item.slug} checked={num == 0 && "checked"} hidden />
                            {
                                !item?.previewTab && <div data-tab={item.slug ? item.slug : "#"} class={`construction-item`}>
                                    <Icon width="94" height="94" id={`Icon-${num + 1}-Unselected`} />
                                    <Icon width="94" height="94" id={`Icon-${num + 1}-Hover`} />
                                    <Icon width="94" height="94" id={`Icon-${num + 1}-Active`} />
                                    <span set:html={item.title} />
                                </div>
                            }
                            {
                                item?.previewTab &&
                                    <div data-tab={item.anchor ? item.anchor : "#"} class={`construction-item`}>
                                        <img height="130" src={item?.previewTab} />
                                        <span set:html={item.title} />
                                    </div>
                            }
                            
                        </label>
                        
                    </>
                )
            }

        </div>
    </section>
}


<style lang="scss" is:global>
    .constructions-switch-wrap {
        display: flex;
        flex-wrap: nowrap;
        gap: var(--global-gap);
        overflow-x: auto;

        & input:checked + .construction-item {
             span {
                background: var(--color-orange);
                color: var(--color-white);
            }
            & a {
                text-decoration: none;
                &:hover {
                    text-decoration: none;
                }
            }
            & svg {
                &:nth-child(1), &:nth-child(2) {
                    display: none;
                }
                &:nth-child(3) {
                    display: block;
                }
            }

        }


    }
    .construction-item {
        cursor: pointer;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: clamp(10rem, 9.5599rem + 1.8779vw, 11.25rem);
        width: clamp(10rem, 9.5599rem + 1.8779vw, 11.25rem);
        height: 100%;
        & span {
            flex: 1;
            background: var(--color-gray-1);
            color: var(--color-gray-3);
            padding: 1.5em;
            font-weight: 700;
            margin: -1.5em 0 0;
            z-index: 1;
            font-family: var(--font-family);
            transition: var(--transition-default);
        }

        &:hover span {
            background: var(--color-gray-4);
            color: var(--color-white);
        }

        & a {
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }

        &:has( img) span {
            margin: 0;
        }


    }
    .construction-item {

        & svg {
            width: clamp(5.14rem, 4.8812rem + 1.1042vw, 5.875rem);
            aspect-ratio: 1/1;
            margin: 0 0 0 1.4rem;
            z-index: 2;
            // opacity: .4;
            &:nth-child(2) {
                display: none;
            }
            &:nth-child(3) {
                display: none;
            }
            
        }

        &:hover {
            svg {
                &:nth-child(1), &:nth-child(3) {
                    display: none;
                }
                &:nth-child(2) {
                    display: block;
                }
            }
        }
    }
</style>

<script>
    document.querySelectorAll(`.constructions-switch-wrap input`).forEach( label => {
        label.addEventListener("click", () => {
            console.log(label.getAttribute("data-tag"));
            window.location.hash = label.getAttribute("data-tag");
        })
    })
</script>

<script>
    window.addEventListener("DOMContentLoaded", () => {
        if (window.location.hash) {
            document.querySelectorAll(".constructions-switch input").forEach( el => {
                // console.log(el?.getAttribute("data-tag"));
                if (`#${el?.getAttribute("data-tag")}` == window.location.hash) {
                    el.click();
                }
            })
        }
    });
</script>