---
import BurgerMenu from "./BurgerMenu.astro";
import Icon from "./Icon.astro";
import qs from "qs";
import Mark from "./Mark.astro";
import Copyright from "./Footer/Copyright.astro";
import LegacyContent from "./Footer/LegacyContent.astro";
import SocialNetworks from "./Footer/SocialNetworks.astro";
const paramsMenu = {
        populate: {
            menuContent: {
                populate: "*"
            }
        },
};

const queryStringPage = qs.stringify(paramsMenu, { encode: true });
const headerMenuData = await fetch(`${import.meta.env.HOST_API}/header-menu/?${queryStringPage}`).then(res => res.json());
---
<div class="fab-header">
    <div class="fab-mobile-top">
        <a href="/"><Icon classes="fab-header-logo" id="logo" width="75" height="80" /></a>
            
        <div class="fab-header-user-actions">
            <a href="/profile">
                <Icon id="user" width="16" height="16" />
            </a>
            <a href="/cart">
                <Icon id="cart" width="16" height="16" />
            </a>
            <BurgerMenu />
        </div>
    </div>
    <div class="fab-mobile-dropdown">
    <div class="fab-personal-account" data-username="hg">
            <div class="fab-personal-account-auhthorize">
                <input hidden type="checkbox" id="personal-account">
                <label for="personal-account">Личный <br />кабинет</label>
                <a  class="fab-personal-account__cart" href="/cart">
                    <Icon id="cart" width="16" height="16" />
                </a>
            </div>
            <div class="fab-personal-account-unauhthorize">
                <a href="/login">Войти</a>
            </div>
            <div class="fab-personal-account-options">
                <a href="#">
                    <Icon id="user" width="16" height="16" />
                    <span>Michel Migalov</span>
                </a>
                <a href="/orders">Заказы</a>
                <a href="/projects">Проекты</a>
                <a href="/logout">
                    <span>Выйти</span>
                    <Icon id="exit" width="16" height="16" />
                </a>
            </div>
            

    </div>
    <ul class="fab-header-menu-lvl-1">
        {
            headerMenuData.data.menuContent.map( (item, id) =>
                <>
                    <li class="fab-header-menu-lvl-1-item">
                        
                        <a href={item?.href?.replace("https://fineartbox.ru", "")} class:list={[`fab-header-menu-lvl-1-item-link`, `${item?.active ? "active" : ""}`]}>
                            <span>{item.label}</span>
                        </a>
                        {
                            item.itemsMenu.length > 0 &&
                            <ul class="fab-header-menu-lvl-2">
                            {
                                item.itemsMenu.map( (_item, _id) => 
                                    <>
                                        <li>
                                            <a href={_item?.href?.replace("https://fineartbox.ru", "")}  class={`${_item?.active ? "active" : ""}`}>{_item.label}</a>
                                        </li>
                                    </>
                                )
                            }
                        </ul>
                        }
                        
                    </li>
                    {
                        item.line && <hr />
                    }
                </>
            )
        }
    </ul>
    <div class="fab-header-contacts" itemscope itemtype="http://schema.org/LocalBusiness">
        <a class="fab-header-contact__phone" href="tel:+74952150977" itemprop="telephone">+7 495 215-09-77</a>
        <time class="fab-header-contact__schedule caption caption--bold" itemprop="openingHours" datetime="Mo-Fr 10:00-18:00">Пн–Пт 10:00–18:00</time>
        <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <a class="fab-header-contact__email" href="mailto:sale@fineartbox.ru" itemprop="email">sale@fineartbox.ru</a>
            <a href="https://yandex.ru/maps/-/CCU4rMgYsC" class="fab-header-contact__address">
                <span itemprop="streetAddress">Зорге 15к1</span>, 
                <span itemprop="addressLocality">Москва</span>
            </a>

        </address>
    </div>
    <div class="fab-header-bottom">
        <Copyright />
        <LegacyContent />
        <SocialNetworks />
    </div></div>
</div>


<style lang="scss" is:global>
    .fab-header {
        --padding-header-left: 1.5rem;
        display: flex;
        flex-direction: column;
        background-color: var(--color-white);
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 3;
        height: var(--header-height);
        max-height: var(--header-height);
        transition: var(--transition-default) max-height;
        padding: 0 1rem;
        @media (min-width: 768px) {
            width: var(--width-header);
            left: calc(100% - var(--width-header));
            right: 0;
            display: flex;
            flex-direction: column;
            row-gap: 2rem;
            max-height: 100dvh;
            height: 100dvh;
            padding: 2rem 0;
            & > ul {
                flex: 1;
                overflow-y: auto;
                flex-direction: column;
            }
        }

        & :is(.fab-mobile-top, .fab-personal-account, .fab-header-contacts) {
            @media (min-width: 768px) {
                padding-left: var(--padding-header-left);
            }
            
        }

        @media (min-width: 768px) {

        }
        @media (min-width: 1440px) {
            left: auto;
            right: calc( 0.5*(100% - var(--width-page)));
        }



        &:has( #toggle-menu:checked) {
            max-height: 100dvh;
            height: 100dvh;
        }
        [data-username=""] {
            & .fab-personal-account-auhthorize {
                display: none;
                
            }
        }
        [data-username]:not([data-username=""])
        {
            & .fab-personal-account-unauhthorize {
                display: none;
            }
        }

    }
    .fab-mobile-dropdown {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: hidden;
        row-gap: inherit;
        @media (min-width: 768px) {
            padding: 0 var(--padding-body) 0 0;
        }
    }
    .fab-header-logo {
        width: clamp(3rem, 2.6479rem + 1.5023vw, 4rem);
        height: 100%;
    }
    .fab-mobile-top {
        height: var(--header-height);
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (min-width: 768px) {
            height: initial;
        }


    }
    .fab-header-user-actions {
        display: flex;
        align-items: center;
        gap: 1rem;

        & > a {
            display: flex;
            align-items: center;
        }

        @media (min-width: 768px) {
            display: none;
        }
    }
    .fab-personal-account {
        position: relative;
        label {
            cursor: pointer;
            font-weight: 700;
            font-family: var(--font-family);
            color: var(--color-gray-4);

        }
        & .fab-personal-account-auhthorize:has( input:checked) ~ .fab-personal-account-options {
            opacity: 1;
            pointer-events: all;
        }
        @media (max-width: 767.99px) {
            display: none;
        }

    }
    .fab-personal-account-unauhthorize, .fab-personal-account-auhthorize {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        position: relative;
        background-color: var(--color-gray-1);
        border-bottom: 1px solid var(--color-gray-2);
    }
    .fab-personal-account-unauhthorize {
        & a {
            color: var(--color-gray-5);
            font-weight: 700;
            text-decoration: none;
            font-family: var(--font-family);
            font-size: 1rem;
        }

    }
    .fab-personal-account-options {
        position: fixed;
        transition: var(--transition-default) opacity;
        opacity: 0;
        pointer-events: none;
        top: clamp(8.1rem, 7.5286rem + 1.1905vw, 8.6rem);
        display: flex;
        flex-direction: column;
        background-color: var(--color-gray-5);
        z-index: 11111;
        padding: 1.5rem;
        row-gap: 1.25rem;
        width: min-content;
        right: 15rem;

        & a {
            display: inline-flex;
            color: var(--color-white);
            column-gap: .5rem;
            font-weight: 500;
            text-decoration: none;
            &:first-child {
                font-weight: 700;
                color: var(--color-gray-2);
            }
            &:last-child {
                color: var(--color-gray-3);
            }
        }

        & svg {
            width: 2rem;
            filter: invert(.7);
        }

        @media (min-width: 1440px) {

            right: calc(0.5*(100% - var(--width-page) + 2.1* var(--width-header)));
        }
    }
    .fab-personal-account__cart {
        display: inline-block;
        margin-left: 1.25rem;
        padding: .5rem 0 .5rem 1.25rem;
        border-left: 1px solid var(--color-gray-2);
    }
    .fab-header-menu-lvl-1 {
        --padding-level-one: 1.2rem;
        padding: 1rem var(--padding-level-one) 0;
        flex: 1;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        --sb-track-color: var(--color-gray-2);
        --sb-thumb-color: var(--color-orange);
        --sb-size: 2px;

        &::-webkit-scrollbar {
        width: var(--sb-size);
        }

        &::-webkit-scrollbar-track {
        background: var(--sb-track-color);
        border-radius: 1px;
        }

        &::-webkit-scrollbar-thumb {
        background: var(--sb-thumb-color);
        border-radius: 1px;
        }

        @supports not selector(::-webkit-scrollbar) {
        & {
            scrollbar-color: var(--sb-thumb-color)
                            var(--sb-track-color);
        }
        }
        
        .fab-header-menu-lvl-1-item {
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
            & > a {
                font-size: 1.25rem;
                font-weight: 500;
                color: var(--color-gray-5);
                line-height: 1.1;
                &.active {
                    display: flex;
                    align-items: center;
                    position: relative;
                    color: var(--color-black);
                    font-weight: 700;
                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: -1.5rem;
                        width: 14px;
                        height: 100%;
                        min-height: 2rem;
                        background: var(--color-orange);
                        clip-path: polygon(0 0, 100% 14px, 100% 100%, 0 calc(100% - 14px));;
                    }
                    & + .fab-header-menu-lvl-2 {
                        display: flex;
                    }
                }
                &:hover {
                    font-weight: 700;
                }
            }
        }
        & a {
            font-family: var(--font-family);
            text-decoration: none;
        }
        & hr {
            outline: none;
            border-top: 1px solid var(--color-gray-2);
            border-bottom: 0;
            width: 100%;
        }
        @media (min-width: 768px) {
            padding: 0 .5rem 0 1.5rem;
        }
    }
    .fab-header-menu-lvl-2 {
        &:not(:has( .active)) {
            display: none;
        }
    }
    .fab-header-menu-lvl-2 {
        --size-marker: 5px;
        --padding-marker: .75em;
        display: flex;
        flex-direction: column;
        row-gap: .25rem;
        padding: 0;
        & > li {
            padding: 0 0 0 var(--padding-marker);
            position: relative;
            & > a {

                font-size: 1rem;
                color: var(--color-gray-4);
                // padding: 0 0 0 var(--padding-marker);
                text-decoration: none;
                &.active {

                    color: var(--color-black);
                    font-weight: 700;
                    &::before {
                        background: var(--color-black);
                    }
                }
                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: var(--size-marker);
                    height: var(--size-marker);
                    border-radius: 999px;
                    background: var(--color-gray-1);
                }
            }
        }
    }
    .fab-header-contacts {
        display: flex;
        flex-direction: column;
        padding: 1rem 1rem 3rem;
        & address {
            margin-bottom: 0;
        }
        @media (min-width: 768px) {
            padding: 0;
        }
    }
    .fab-header-contact__phone {
        font-size: 1.25rem;
        font-weight: 900;
        color: var(--color-black);
        text-decoration: none;
        font-family: var(--font-family);
        text-decoration: none;
        &:hover {
            color: inherit;
            text-decoration: none;
        }

    }
    .fab-header-contact__schedule {
        color: var(--color-gray-3)        
    }
    .fab-header-contact__email {
        display: block;
        margin: .5em 0 1.5em;
        font-family: var(--font-family);

    }
    .fab-header-contact__email, .fab-header-contact__address {
        font-style: normal;
        font-size: 1.14rem;
        color: var(--color-black);
        &:hover {
            color: var(--color-orange);
            text-decoration: none;
        }
    }


    .fab-header-bottom {
        display: grid;
        grid-template-areas: "cop net" "leg leg";
        padding: 1rem;
        row-gap: .5rem;
        @media (min-width: 768px) {
            display: none;
        }

        & .fab-copyright {
            grid-area: cop
        }
        & .fab-legacy-content {
            grid-area: leg;
            display: flex;
        }
        & .fab-social-networks {
            display: flex;
            grid-area: net
        }
    }


</style>

<style lang="scss" is:global>
    
    astro-dev-toolbar {
        display: none;
    }

</style>

<script is:inline>
    let buttonAccount = document.querySelector(".fab-personal-account");
    let blockOptions = document.querySelector(".fab-personal-account-options");
    const movingBlockOptions = () => {
        // console.log(blockOptions);
        
        if (window.innerWidth > 1440) {
            blockOptions.style.left = `${buttonAccount.getBoundingClientRect()}px`;
        }
        
    }
    movingBlockOptions();
    window.addEventListener("load", movingBlockOptions);
    window.addEventListener("resize", movingBlockOptions);
    window.addEventListener("DOMContentLoaded", movingBlockOptions);
</script>

<script is:inline>
document.querySelectorAll(".fab-header-menu-lvl-1 a").forEach(link => {
    if (document.location.href.includes(link.href)) {
        const span = document.createElement('span');
        span.textContent = link.textContent;
        link.classList.add("active");
        // link.closest("li").children[0].classList.add("active");
         link.closest(".fab-header-menu-lvl-1-item").children[0].classList.add("active");
         
        // link.replaceWith(span);
    }
});
</script>