---
const { Slider } = Astro.props;
---
<section class="fab-hero splide" aria-label="Splide Basic HTML Example">
    <div class="splide__track">
            <ul class="splide__list">
              {
                Slider.map( slide => 

                <li class="splide__slide fab-hero-slide">
                  <figure>
                    <picture>
                      <source srcset={slide.backgroundMobile} media="(max-width: 767.99px)" />
                      <source srcset={slide.backgoundDesktop} media="(min-width: 768)" />
                      <img src={slide.backgoundDesktop} alt="Абстрактное изображение" />
                    </picture>
                    <figcaption>
                        <h2 set:html={slide.title} />
                        <p set:html={slide.description} />
                    </figcaption>
                  </figure>

                </li>
                )
              }
            </ul>
            
    </div>
</section>
<style lang="scss">
    .fab-hero {
      @media (max-width:797.99px) {
        grid-column: full-width;
      }
    }
    .splide__pagination__page {
        border-radius: 0;
    }
    .fab-hero-slide {

      & figcaption {
        display: flex;
        flex-direction: column;
        row-gap: .7rem;
        padding: .7rem .7rem 1rem;
        position: absolute;
        left: 4rem;
        top: 50%;
        transform: translateY(-50%);
        max-width: 41rem;
        background: rgba(50, 57, 74, 0.6);
        backdrop-filter: blur(4px);
        color: var(--color-white);
        & h2 {
          font-size: clamp(1.25rem, 0.75rem + 2.5vw, 3rem);
        }
        & p {
          font-size: .85rem;
          font-weight: 700;
          @media (min-width: 768px) {
            font-size: 1.25rem;
            font-weight: 400;
          }
        }

        @media (min-width: 768px) {
          row-gap: 2rem;
          padding: 2rem 2rem 2.25rem;
        }

        @media (max-width: 991.99px) {
          left: 2rem;
          right: 2rem;
          max-width: inherit;
        }
      }
    }
</style>
<style lang="scss" is:global>
  .fab-hero-pagination {
    display: flex;
    gap: 1rem;
    left: 4rem;
    right: auto;
    bottom: clamp(0.5rem, -1.0845rem + 6.7606vw, 5rem);
    & button {
      border-radius: 0;
      width: clamp(4rem, 3.2958rem + 3.0047vw, 6rem);
      &.is-active {
        transform: skew(-30deg) scale(1);
      }
      transform: skew(-30deg) scale(1);
    }
  }
</style>
<script src="/splide.min.js" is:inline></script>
<script>
  const changeHeight = () => {
    document.querySelector(".fab-hero-pagination").style.bottom = `${(document.querySelector(".fab-hero").clientHeight - document.querySelector(".fab-hero .is-active figcaption").clientHeight) / 4}px`
  }
  window.addEventListener("resize", changeHeight);
  window.addEventListener("DOMContentLoaded", changeHeight);
  window.addEventListener("load", changeHeight);
  document.addEventListener("DOMContentLoaded", function () {
    var splide = new Splide(".fab-hero", {
      type: "fade",
      arrows: false,
      autoplay: false,
      pagination: false,
      classes: {
        pagination: 'splide__pagination fab-hero-pagination',
      }
    });
    splide.mount();
    splide.on("mounter", changeHeight);
    splide.on("moved", changeHeight);
  });
</script>
<script>

</script>