---
const {projectsList, id, packages} = Astro.props;

---

<!-- <code>
    {JSON.stringify(packages)}
</code> -->

<section class="fab-ready-works" data-id={`construction-${id}`} style={id > 1 && `display: none`}>
    <div class="fab-ready-works-row fab-scrollbar">
        {
            packages?.map( project => 
                <a href={project.href}>
                    <img src={`${import.meta.env.HOST}${project.image.url ? project.image.url : project.srcAlternative}`} alt={project.title} />
                </a>
                // <>
                //     {JSON.stringify(`${project.image.url}`)}
                // </>
            )
        }

    </div>
</section>

<style lang="scss">
    .fab-ready-works-row {
        display: flex;
        flex-direction: row;
        column-gap: 1.5rem;

        & a {
            display: block;
            flex: 1;
        }
        & img {

            aspect-ratio: 1/1;
            @media (max-width: 991.92px) {
                min-width: clamp(12.5rem, 10.3571rem + 10.7143vw, 20rem);
            }
        }
    }
</style>