---
const {projectsList, id, packages} = Astro.props;

---
<section class="fab-ready-works" data-id={`construction-${id}`} hidden={id > 1 ? true : false}>
    <div class="fab-ready-works-row fab-scrollbar">
        {
            packages?.map( project => 
                <a href={project.href.replace("https://fineartbox.ru", "")}>
                    <img src={`${project?.image?.url ? `${import.meta.env.HOST}${project?.image?.url}` : (project?.srcAlternative ? project?.srcAlternative : "/no-image.jpg")}`} alt={project?.title} />
                </a>
                // <>
                //     {JSON.stringify(`${project.image.url}`)}
                // </>
            )
        }

    </div>
</section>

<style lang="scss">
    // section:has( .fab-ready-works:not([hidden]) a) {
    //     display: none;
    // }
    .fab-ready-works-row {
        display: flex;
        flex-direction: row;
        column-gap: 1.5rem;
        overflow-x: auto;

        & a {
            display: block;
            // flex: 1;
            min-width: clamp(12.5rem, 10.3571rem + 10.7143vw, 20rem);
            width: clamp(12.5rem, 10.3571rem + 10.7143vw, 20rem);
        }
        & img {

            aspect-ratio: 1/1;
            width: 100%;
            @media (max-width: 991.92px) {

            }

            &[src="/no-image"] {
                // object-fit: cover;
                // width: 100%;
                // height: 100%;
            }
        }
    }
</style>

<script>
      const toggleVisibleSection = () => {
        let section = document.querySelector(".fab-reay-works-section");
    }
</script>