---
const { Banner, slide, classes, dataId, style, hidden } = Astro.props;


import sanitizeHtml from 'sanitize-html';
import replaceSpacesAfterPrepositions from '../scripts/words';
import insertNbspAfterPrepositions from '../scripts/testwords';
const cleanHtml = (rawHtml: any) => sanitizeHtml(rawHtml, {
       allowedTags: ['p', 'h1', 'h2' ,'br', 'strong'], // Разрешенные теги
       allowedAttributes: {
        'span': [ 'style' ],
        'a': ['href'],
        'p': ['class'],
        'strong': ['class']
       } // Разрешенные атрибуты
   });


let textBanner = slide?.htmlContent;
let newTextBanner = textBanner
  ?.replace('<h1>', '<strong class="h1">')
  ?.replace('</h1>', '</strong>')
  ?.replace('<h2>', '<strong class="h2">')
  ?.replace('</h2>', '</strong>')
  ?.replace('<p>&nbsp;</p>', '');
---

<section class="test-banner"
     data-id={dataId}
     hidden={hidden}
    style={`
        --mobile-background: url(${slide?.backgroundMobile});
        --desktop-background: url(${slide?.backgoundDesktop});
        --background-size: ${slide?.backgroundSize ? `${slide.backgroundSize}%` : "160%"};
        --background-position: ${slide?.backgroundPosition ? slide.backgroundPosition : "30% 80%"};
    `}>
    <div class="test-banner-text" set:html={insertNbspAfterPrepositions(cleanHtml(slide?.htmlContent))}></div>
</section>


<style lang="scss" is:global>
    .test-banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: clamp(2rem, 1.5229rem + 1.9084vw, 2.5rem);
        background-image: var(--mobile-background);
        background-position: var(--background-position);
        background-size: var(--background-size);
        background-repeat: no-repeat;
        min-height: 40vh;


        @media (min-width: 768px) {
            background-image: var(--desktop-background);
            min-height: 500px;
            background-position: center;
            background-size: cover;
        }
        @media (max-width: 767.99px) {
            grid-column: full-width!important;
            box-sizing: content-box;
        }
    }
    .test-banner-text {
        display: flex;
        flex-direction: column;
        width: min(300px, 50%);
        row-gap: 1rem;
        @media (min-width: 768px) {
            width: clamp(21rem, 13.0000rem + 16.6667vw, 28rem);
            padding: .7rem .7rem 1rem !important;

        }
    }

</style>